

.lista-marcas{
    gap:4rem;
}
.lista-marcas img {
    width: 60px;
   margin-top:5rem;
}

section {
    padding: 1rem 0;
}

section .link {
    color: var(--darkblue);
    font-size:1.5rem;
    font-weight:600;
    display:block;
    width:fit-content;
    margin: 0 2rem 0 auto;
}

@media (max-width: 992px) {

    section .link {
        color: var(--darkblue);
        font-size: 1.5rem;
        font-weight: 600;
        display: block;
        width: fit-content;
        margin: 1rem auto 0;
    }
}